body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container {
    padding: 30px;
    box-sizing: border-box;
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
}

.header {
    margin: 0;
}

.logo {
    width: 160px;
}

.button {
    height: 42px;
    padding: 6px 12px;
    box-sizing: border-box;
    border: 0;
    border-radius: 3px;
    outline: none;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    cursor: pointer;
}

.title {
    margin-bottom: 10px;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.welcome {
    background: url(../img/bg_welcome.jpg);
    color: #fff;
    text-align: center;
}

.welcome__top {
    font-size: 0;
    margin-bottom: 10px;
}

.welcome__logo {
    vertical-align: middle;
}

.social, .logo-wrap {
    display: inline-block;
    width: 50%;
    vertical-align: middle;
}

.social {
    text-align: right;
}

.social__item {
    width: 24px;
    height: 24px;
    display: inline-block;
    margin-left: 10px;
    background: url(../img/social_white.png) no-repeat;
    background-repeat: no-repeat;
    transition: background .2s;
}

.social__item:hover {
    background: url(../img/social_color.png) no-repeat;
}

.social__item-twitter, .social__item-twitter:hover {
    background-size: 72px;
    background-position: 0 0;
}

.social__item-facebook, .social__item-facebook:hover {
    background-size: 72px;
    background-position: -24px 0;
}

.social__item-instagram, .social__item-instagram:hover {
    background-size: 72px;
    background-position: -48px 0;
}

.welcome__header {
    margin-bottom: 10px;
}

.welcome__text {
    margin-bottom: 15px;
}

.welcome__button {
    width: 100%;
    margin-bottom: 10px;
    background: #fff;
    color: #10315d;
    font-size: 18px;
    transition: background .2s, color .2s;
}

.welcome__button:hover {
    background: #10315d;
    color: #fff;
}

.features {
    background: #325585;
    font-size: 0;
    color: #fff;
    text-align: center;
}

.features__item {
    font-size: 14px;
    margin-bottom: 30px;
}

.features__img {
    margin-bottom: 10px;
}

.features__text {
    margin-bottom: 10px;
}

.characters {
    background: #fff;
    color: #10315d;
    text-align: center;
}

.characters__header {
    margin-bottom: 10px;
}

.characters__info {
    margin-bottom: 30px;
}

.character__img {
    height: 300px;
}

.characters__main {
    position: relative;
    margin-bottom: 30px;
    padding: 20px 0;
}

.characters__main:before, .characters__main:after {
    content: '';
    position: absolute;
    width: 30%;
    height: 1px;
    margin: 0 auto;
    left: 0;
    right: 0;
    background: #10315d;
    opacity: .5;
}

.characters__main:before {
    top: 0;
}

.characters__main:after {
    bottom: 0;
}

.characters__item {
    margin-bottom: 30px;
}