body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

::-webkit-input-placeholder {
   color: #325585;
   opacity: .8;
   font-family: 'Raleway', sans-serif;
}

:-moz-placeholder { /* Firefox 18- */
   color: #325585;
   opacity: .8;
   font-family: 'Raleway', sans-serif;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #325585;
   opacity: .8;
   font-family: 'Raleway', sans-serif;
}

:-ms-input-placeholder {
   color: #325585;
   opacity: .8;
   font-family: 'Raleway', sans-serif;
}

.container {
    position: relative;
    margin: 0 auto;
    padding: 30px;
    box-sizing: border-box;
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
}

.header {
    margin: 0 0 10px 0;
}

.logo {
    width: 160px;
}

.button, .input {
    height: 42px;
    padding: 6px 12px;
    box-sizing: border-box;
    border: 0;
    border-radius: 3px;
    outline: none;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

.button {
    cursor: pointer;
}

.title {
    margin-bottom: 5px;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.table {
    width: 100%;
    height: 100%;
    display: table;
}

.table-row {
    display: table-row;
}

.table-cell {
    display: table-cell;
    vertical-align: middle;
}

.welcome {
    height: 100%;
    background-color: #325585;
    background-image: url(../img/bg_welcome.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: #fff;
    text-align: center;
}

.welcome__top {
    font-size: 0;
    margin-bottom: 20px;
}

.welcome__logo {
    vertical-align: middle;
}

.social, .welcome__logo-wrap {
    display: inline-block;
    width: 50%;
    vertical-align: middle;
}

.welcome__logo-wrap {
    text-align: left;
}

.social {
    text-align: right;
}

.social__item {
    width: 24px;
    height: 24px;
    display: inline-block;
    margin-left: 10px;
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
    background-size: 144px 24px;
    transition: background .2s;
}

.social__item-twitter {
    background-position: -120px 0;
}

.social__item-instagram {
    background-position: -96px 0;
}

.social__item-facebook {
    background-position: -48px 0;
}

.social__item:hover {
    opacity: .5;
}

.welcome__text {
    margin-bottom: 20px;
}

.welcome__image {
    display: none;
}

.welcome__button {
    width: 100%;
    margin-bottom: 10px;
    background: #fff;
    color: #10315d;
    font-size: 18px;
    transition: background .2s, color .2s;
}

.welcome__button:hover {
    background: #10315d;
    color: #fff;
}

.features {
    background: #325585;
    font-size: 0;
    color: #fff;
    text-align: center;
}

.features__item {
    font-size: 14px;
    margin-bottom: 30px;
}

.features__img {
    margin-bottom: 10px;
}

.features__text {
    margin-bottom: 10px;
}

.characters {
    background: #fff;
    color: #10315d;
    text-align: center;
}

.characters__info {
    margin-bottom: 30px;
}

.character__img {
    height: 260px;
}

.characters__main {
    position: relative;
    margin-bottom: 30px;
    padding: 20px 0;
}

.characters__main:before, .characters__main:after {
    content: '';
    position: absolute;
    width: 30%;
    height: 1px;
    margin: 0 auto;
    left: 0;
    right: 0;
    background: #10315d;
    opacity: .5;
}

.characters__main:before {
    top: 0;
}

.characters__main:after {
    bottom: 0;
}

.characters__item {
    margin-bottom: 30px;
}

.subscribe {
    background-image: url(../img/bg_subscribe.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: #fff;
    text-align: center;
}

.subscribe__info {
    margin-bottom: 30px;
}

.subscribe__input {
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid #fff;
}

.subscribe__input:focus {
    border: 1px solid #10315d;
}

.subscribe__button {
    width: 100%;
    margin-bottom: 10px;
    background: #fff;
    color: #10315d;
    font-size: 18px;
    transition: background .2s, color .2s;
}

.subscribe__button:hover {
    background: #10315d;
    color: #fff;
}

.reviews {
    background: #fff;
    color: #10315d;
    text-align: center;
}

.reviews__info {
    margin-bottom: 30px;
}

.reviews__item {
    margin-bottom: 30px;
}

.reviews__img-wrap {
    width: 100px;
    height: 100px;
    margin: 0 auto 20px auto;
    border-radius: 50%;
    overflow: hidden;
}

.reviews__img {
    width: 100px;
}

.slider {
    background: #325585;
    font-size: 0;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    box-sizing: border-box;
}

.slider__item {
    text-align: center;
    outline: medium;
}

.slider__img {
    margin: 0 auto;
}

.slick {
    width: 90%;
    margin: 0 auto;
}

.slick-arrow {
    position: absolute;
    top: 50%;
    display: block;
    width: 24px;
    height: 24px;
    margin-top: -12px;
    background-color: transparent;
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
    background-size: 144px 24px;
    transition: background .2s;
    cursor: pointer;
    outline: none;
    border: none;
    font-size: 0;
}

.slick-next {
    right: -30px;
    background-position: 0 0;
}

.slick-prev {
    left: -30px;
    background-position: -24px 0;
}

.slick-arrow:hover {
    opacity: .5;
}

.footer {
    background: #10315d;
    color: #fff;
    text-align: center;
}

.nav {
    margin-bottom: 30px;
}

.nav__item {
    display: inline-block;
    margin-right: 5px;
}

.nav__item:hover {
    opacity: .5;
}

.nav__item:last-child {
    margin-right: 0;
}

.nav__link {
    color: #fff;
    text-decoration: none;
    border-bottom: 1px solid #fff;
}

.footer__logo {
    margin-bottom: 10px;
}

@media  (min-width: 768px) {

    .container {
        padding: 50px;
    }

    .header {
        margin: 0 0 30px 0;
    }

    .logo {
        width: 260px;
    }

    .button, .input {
        width: 50%;
    }

    .welcome {
        overflow: hidden;
        text-align: left;
    }

    .welcome__content {
        padding: 50px 0;
        /*position: relative;
        z-index: 0;*/
    }

    .welcome__info {
        width: 70%;
        position: relative;
        z-index: 1;
    }

    .welcome__text {
        margin-bottom: 50px;
    }

    .welcome__button {
        margin-bottom: 20px;
    }

    .welcome__image {
        width: 240px;
        display: block;
        position: absolute;
        bottom: 0;
        left: 60%;
        right: 0;
        margin: 0 auto;
        z-index: 0;
    }

    .social__item {
        width: 32px;
        height: 32px;
        margin-top: -16px;
        background-size: 192px 32px;
    }

    .social__item-twitter {
        background-position: -160px 0;
    }

    .social__item-instagram {
        background-position: -128px 0;
    }

    .social__item-facebook {
        background-position: -64px 0;
    }

    .characters-container {
        font-size: 0px;
    }

    .characters__top {
        font-size: 14px;
    }

    .characters__col {
        display: inline-block;
        width: 30%;
        font-size: 14px;
    }

    .characters__main {
        width: 40%;
    }

    .character__img {
        height: 300px;
    }

    .characters__item {
        text-align: left;
    }

    .characters__main:before, .characters__main:after {
        height: 0;
    }

    .slick-arrow {
        width: 32px;
        height: 32px;
        margin-top: -16px;
        background-size: 192px 32px;
    }

    .slick-next {
        right: -30px;
        background-position: 0 0;
    }

    .slick-prev {
        left: -30px;
        background-position: -32px 0;
    }

    .footer-container {
        font-size: 0px;
    }

    .nav {
        font-size: 14px;
    }

    .rights-wrap, .footer__logo-wrap {
        display: inline-block;
        vertical-align: middle;
        width: 50%;
        font-size: 14px;
    }

    .footer__logo-wrap {
        text-align: left;
    }

    .rights-wrap {
        text-align: right;
    }
}

@media  (min-width: 1200px) {

    .container {
        padding: 100px 50px;
    }

    .logo {
        width: 350px;
    }

    .social__item {
        width: 48px;
        height: 48px;
        margin-top: -24px;
        background-size: 288px 48px;
    }

    .social__item-twitter {
        background-position: -240px 0;
    }

    .social__item-instagram {
        background-position: -192px 0;
    }

    .social__item-facebook {
        background-position: -96px 0;
    }

    .features-container {
        font-size: 0px;
    }

    .features__item, .reviews__item {
        font-size: 14px;
        display: inline-block;
        width: 30%;
        vertical-align: top;
        margin-right: 5%;
    }

    .features__item:last-child, .reviews__item:last-child {
        margin-right: 0;
    }

    .characters__col {
        width: 35%;
    }

    .characters__main {
        width: 30%;
    }

    .character__img {
        height: 350px;
    }

    .subscribe-container, .footer-container {
        padding: 50px;
    }

    .reviews__list {
        font-size: 0px;
    }

    .slick-arrow {
        width: 48px;
        height: 48px;
        margin-top: -24px;
        background-size: 288px 48px;
    }

    .slick-next {
        right: -30px;
        background-position: 0 0;
    }

    .slick-prev {
        left: -30px;
        background-position: -48px 0;
    }

    .nav {
        width: 33%;
        display: inline-block;
        vertical-align: middle;
        font-size: 14px;
        text-align: left;
    }

    .rights-wrap {
        width: 33%;
    }

    .footer__logo-wrap {
        width: 33%;
        text-align: center;
    }
}